.container-question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-favorites{
    display: flex;
    align-items: center;
    justify-content: space-around;
}