.container-question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-favorites{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #777474;
    min-width: 70px;
    border-radius: 4px;
}

.container-favorites-added{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #2c2a2a;
    background: #424041;
    color: white;
    min-width: 70px;
    border-radius: 4px;
}

.container-favorites:hover{
    background: #424041;
    color: white;
    transition: all .3s;
    border: 1px solid black;
}

.text-favorite{
    margin: 0;
}